<form action = '/manage' title = 'Add course' method = "post">

    <input type = 'text' name = "CourseName" placeholder = "Course Name"><br>
    <input type = 'text' name = "CourseCode" placeholder = "Course Code"><br>
    <input type = "submit" value = "Add course">
</form>