<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script defer src = "/scripts/login.js"></script>
    <link rel="stylesheet" href="/css/logStyle.css">
    <link rel="stylesheet" href="/css/homepageStyle.css">
</head>
<body>
    <a href = "/homepage"><img class = "main-logo"></a>
    <div class ="primary-buttons">
        <button id = "user">Student</button>
        <button id = "admin">Staff</button>
    </div>
    <div class ="secondary-buttons" style = "display: none;">
        <button id = "sign-up">Sign In</button>
        <button id = "log-in">Log In</button>
        
    </div>
    <div class ="login-user">
        <form action = "/homepage" method = "post">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Your username.." required><br><br>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Your password.." required><br><br>
            <button type = "submit" value="Log in">Log In</button>
            
        </form>
    </div>
    <div class ="login-admin">
        <form action = "/home" method = "post">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Your username.." required><br><br>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Your password.." required><br><br>
            <button type = "submit" value="Log in">Log In</button>
            
        </form>
    </div>
    <div class="signup-form">

        <form action = "/login" method="POST">
            <label for="username">Username</label>
            <input type="text" name = "username" placeholder="Your username.." ><br><br>
            <label for="email">Email</label>
            <input type="emal"  name = "email" placeholder="Your email.." ><br><br>
            <label for="password">Password</label>
            <input type="password"  name = "password" placeholder="Your password.." ><br><br>
            {{!-- <label for="password2">Confirm Password</label>
            <input type="text" id="password2" name="password2" placeholder="Your password.."><br><br> --}}
            <input type = "submit" value = "Sign up"></input>
            
        </form>
        
    </div>
   <a href = "/"><button id = "back" style = "display:none;">Back</button></a>
</body>
</html>
