<h2>Manage courses</h2>


<a href = '/create-course'>Add a new Course</a>



<form action = '/manage' title = 'Delete course' method = 'delete'>
    {{#each courses}}
        <li>
            {{title}}
            <form action = "/manage" method = 'delete'>
            <input type = 'hidden' name = 'courseId' value = '{{_id}}'>
                <button type = 'submit' >Delete</button>
            </form>
        </li>
        
    {{/each}}
</form>