<h2>Manage courses</h2>


<a href = '/createCourse'>Add a new Course</a>


{{#each courses}}
    <li>
        {{title}}
        <form action = "/delete-course" method = 'post'>
            <input type = 'hidden' name = 'courseId' value = '{{_id}}'>
            <input type = 'submit' value = "Delete course" >
        </form>
    </li>
    
{{/each}}
