<h1 class = "guide">Select Courses</h1>

<button id = "change" style = "display:none">Τροποποίηση Δήλωσης</button>

<div class = "selectedCourses" style = "display:none">
    <h3>Επιλεγμένα Μαθήματα</h3>
   
    

</div>
{{#each selectedCourses}}
    <li>{{#with (lookup ../courses [_id])}} {{courses.title}} {{/with}}</li>
{{/each}}
<div class = "schedule">
    
    <form action = "/myCourses"  class = "selection"  style = "display: block" method = "post">
        {{#each courses}}
            <input type="checkbox" name = "checkId" value = "{{_id}}"> {{title}}<br>
        {{/each}}
        <input type = "submit" id = 'save' >
    </form>


</div>

<script defer src = "/scripts/schedule.js"></script>
